// grayscales
$gray1: #565656;
$gray2: #A1A1A1;
$gray3: #CBCBCB;
$gray4: #FAFAFA;

$green: #44D1B2;
$yellow: #FFDD57;
$dark: #363636;
$blue: #3273DC;
$red: #EA4335;

$white: #FFFFFF;
$black: #565656;
