@use '../globals/colors';
@use '../../styles/globals/typography';
@use '../../styles/globals/mixins';

.breweries {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  &-buttons{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  &-list-cards {
    display: flex;
    flex: 1;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    @include mixins.breakpoint(md) {
      justify-content: flex-start;
    }
  }
}